{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <input type="email" name="email" value="{{ last_username }}" required autofocus placeholder="Email">
        <input type="password" name="password" required placeholder="Mot de passe">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}
